<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Menu Loja</title>

</head>
<body>
	<div class="container my-2" align="center">
		<h1>Bem vindo, Lola "nome a ser colocado"</h1>
		<ul>
            <li>
            	<a href="@{/carros/cadastro/">Adicione Novo Carro</a>
            	<a href="@{/lojas/listarCarro/">Lista de Carros da Loja</a>
            </li>
        </ul>
	</div>
</body>
</html>